<nav class="navbar navbar-expand-lg navbar-dark position-sticky sticky-top">
    <a class="navbar-brand" href="#">welcome <span style="color:blue">{{username}}</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/user/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user/products">View Products </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user/addproducts">addproducts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user/cart">cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
    <div>
      <h2 style="color:blue">AkhilSports</h2>
    </div>
  </nav>
<router-outlet></router-outlet>