<body>
    

    <h2 style="margin-left:800px;"><span style="color:azure">AkhilSports</span> welcomes you</h2>
        
        
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 "style="margin-top:190px; margin-right:500px;">
                    <h3 style="color:azure">LOGIN TO BUY PRODUCTS</h3>
                    <div class="form-group">
                        <label for="" class="form-label"><span style="color:yellow">username</span></label>
                        <input type="text" class="form-control" [(ngModel)]="username">
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label"><span style="color:yellow ">password</span></label>
                        <input type="text" class="form-control" [(ngModel)]="password">
                        <div class="form-group"><br>
                            <button class="btn btn-success" style="margin-left:110px" (click)="dologin()">login</button>
                            <button class="btn btn-danger" style="margin-left:20px;">cancel</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    
    
    
    
        <footer>
            <p style="margin-top:550px; margin-left:30px; color:azure">Copyright &copy; 2023 AkhilSports - All Rights Reserved. | Powered by akhilchelluri</p>
        </footer>
        
            
        </body>