<body>
    
<div class="container">
    <div class="row">
        <div class="col-md-4" >
            <img src="https://www.khelmart.com/pub/media/wysiwyg/yonex_power_cushion_39Ex.jpg" style="border-radius:10px;" height="200" alt="">
            <img src="https://www.khelmart.com/pub/media/wysiwyg/Shoes.jpg" alt="" height="200" style="border-radius:10px;" width="420" >
        </div>
        <div class="col-md-4">
            <img src="https://www.khelmart.com/pub/media/wysiwyg/THRAX_COURT_008_Shoes.jpg" style="border-radius:10px;" alt="" height="420" >
        </div>
        <div class="col-md-4">
            <img src="https://www.khelmart.com/pub/media/wysiwyg/Badminton_Suttlecock.jpg" alt="" height="200" style="border-radius:10px;">
            <img src="https://www.khelmart.com/pub/media/wysiwyg/Puma_Classicat_Cricket_Shoes.jpg" widht="420" alt="" style="border-radius:10px;" height="200">
        </div>
    </div>
</div><br><br>


<div><hr>

    
    <div class="row">
        <ng-container *ngFor="let product of products">
            <div class="col-md-4" class="cards" >
                <div class="card">
                    <div class="card-header" >
                        <div  *ngIf="product.Edit">
                            <input type="text"[(ngModel)]="product.productName" >
                        </div>
                        <div *ngIf="!product.Edit">
                            {{product.productName}}
                        </div>
                    </div>
                    <div class="card-body">
                        <img [src]="product.productImage" height="200px;" style="margin-left:100px;">
                    </div>
                    <div class="card-footer" >
                        <div *ngIf="product.Edit">
                            <input type="text"[(ngModel)]="product.productPrice">
                        </div>
                        <div *ngIf="!product.Edit" class="price">
                            <div class="alert alert-success">
                                {{product.productPrice }}
                            </div>   
                            </div>              
                <div *ngIf="product.Edit">
                    <button class="btn btn-link" (click)="update(product)"><i class="fa fa-check"></i>update</button>
                </div>
                <div *ngIf="!product.Edit">
                    <button class="btn bn-link " style="margin-left:150px;" (click)="editcontent(product)"><span class="material-symbols-outlined">
                        edit
                        </span></button>
                
                    <button class="btn btn-link " (click)="delete(product)"><span class="material-symbols-outlined">
                        delete
                        </span></button>
                    <button class="btn btn-link"(click)="cart(product)"><span class="material-symbols-outlined">
                        shopping_cart
                        </span></button>
                        
                </div>
                   </div>  
    </div><br><br><br>
    
    
    
    </div>
        </ng-container>
        
       </div>
    </div>
  


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3"><br>  
                <h5 style="color:blue">Shopping with AS</h5>
                <a href="https://www.facebook.com/">size Guides</a><br>
                <a href="https://www.facebook.com/">Exclusions</a>
            </div>
            <div class="col-md-3"><br>
                <h5 style="color:blue">Customer Care</h5>
                <a href="https://www.facebook.com/">Delivery & Returns</a><br>
                <a href="https://www.facebook.com/">Help</a><br>
                <a href="https://www.facebook.com/">Contact Us</a><br>
                <a href="https://www.facebook.com/">Track My Order</a>
            </div>
            <div class="col-md-3"><br>
                <h5 style="color:blue">Corporate</h5>
                <a href="https://www.facebook.com/">Careers</a><br>
                <a href="https://www.facebook.com/">Contact Us</a><br>
                <a href="https://www.facebook.com/">Become An Affiliate</a><br>
                <a href="https://www.facebook.com/">AS Sports Fashion Plc</a>
            </div>
            <div class="col-md-3"><br>
                <h5 style="color:blue">Legal</h5>
                <a href="https://www.facebook.com/">Terms & Conditions</a><br>
                <a href="https://www.facebook.com/">Privacy & Cookies</a><br>
                <a href="https://www.facebook.com/">Accessibility</a><br>
                <a href="https://www.facebook.com/">Site Map</a><br>
                <a href="https://www.facebook.com/">Modern Slavery Report</a>
            </div>
        </div>
    </div><br><br>
    <ul>
        <p class="color" style="margin-left:15px;">join the conversion</p>
        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-official" style="font-size:30px"></i></a>
        <a href="https://www.youtube.com/" target="_blank" style="margin-left:25px"><i class="fa-brands fa-youtube" style="font-size:30px"></i></a>
        <a href="https://twitter.com/home" target="_blank" style="margin-left:25px"><i class="fa fa-twitter" style="font-size:30px"></i></a>
        <a href="https://www.instagram.com/" target="_blank" style="margin-left:25px"><i class="fa-brands fa-instagram" style="font-size:30px"></i></a>
           
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p style="color:white">visit our corporate website at www.akhilsports.com</p>
                <p style="color:white">copyright &copy; 2023 AkhilSports All rights reserved.</p>

            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p class="p1"style="margin-left:100px">we accepted the following payments</p>
                <img src="https://i8.amplience.net/i/jpl/desktop-example-f65e9d9f643754bb2bd76f3f4e8b0366?qlt=80" alt="" height=20 style="margin-top:1px;">
            </div>
        </div>
    </div>
 </footer>
</body>